@mixin flex($direction: row, $justify: center, $items: center, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $items;
    flex-wrap: $wrap;
}